header{
    border: 2px solid #000;
    background-color:rgb(39, 212, 39) ;
}
nav{
    border: 2px solid #000;
    background-color: rgb(222, 221, 221);
}
main{
    border: 2px solid #000;
    background-color: white;
}
footer{
    border: 2px solid #000;
    background-color:rgb(39, 212, 39) ;
}
.container{
    display: grid;
}
