:root{
    --header-bg-color:rgb(31, 175, 31);
    --footer-bg-color:rgb(31, 175, 31);
    --nav-bg-color: rgb(222, 221, 221);
    --main-color: white;
}
input:checked~.container{
--header-bg-color:rgb(29, 29, 29);
--footer-bg-color:black;
--nav-bg-color:rgb(71, 71, 71);
--main-color:rgb(96, 96, 96) ;
}
header {
    border: 2px solid #000;
    background-color: var(--header-bg-color);
    grid-column: 1/span2;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    border: 2px solid #000;
    background-color:var(--nav-bg-color);
    height: auto;
}

main {
    border: 2px solid #000;
    background-color: var(--main-color);
    height: auto;
    padding-left: 10px;
}

footer {
    border: 2px solid #000;
    background-color: var(--footer-bg-color);
    grid-column: 1/span2;
    height: fit-content;
    text-align: center;
    color: white
}
#Toggle{
    display: none;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 60px auto 60px;
}